### 1) Problem statement
- This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/stud.csv')

STEP - 01 CHECKING FOR MISSING VALUES

In [4]:
df.isnull().sum()
#Observation =>  There Are Some MISSING VALUE IN THE GIVEN DATASET Very Little So Replace By Mean Or DROP

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          1
test_preparation_course        0
math_score                     1
reading_score                  0
writing_score                  0
dtype: int64

In [7]:
df.dropna(inplace=True) #Dropped The Missing Values As There Were Very Little Compared To the total record

STEP-2 CHECK FOR THE DUPLICATES IF PRESENT DROP THEM

In [14]:
df.duplicated().sum() 
#Observation => Few Duplicates Record Encountered So Drop Them

0

In [12]:
df.drop_duplicates(inplace=True)

In [17]:
df.describe() #To get the statistical info about the given data

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   float64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 70.3+ KB

In [20]:
'''Extracting The Numerical and the categorical feature before doing this make sure your numerical features are of datatype int and your
categorical features will be of datatype of if not first comvert them'''

# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print(f'We have {len(numeric_features)} numerical features : {numeric_features}')
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 3 numerical features : ['math_score', 'reading_score', 'writing_score']

We have 5 categorical features : ['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

Now We Will Add a column called total score and average score these will be out output to train out model

In [21]:
df['total score'] = df['math_score'] + df['reading_score'] + df['writing_score']
df['average'] = df['total score']/3
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total score,average
0,female,group B,bachelor's degree,standard,none,72.0,72,74,218.0,72.666667
1,female,group C,some college,standard,completed,69.0,90,88,247.0,82.333333
2,female,group B,master's degree,standard,none,90.0,95,93,278.0,92.666667
3,male,group A,associate's degree,free/reduced,none,47.0,57,44,148.0,49.333333
4,male,group C,some college,standard,none,76.0,78,75,229.0,76.333333

In [24]:
reading_full = df[df['reading_score'] == 100]['average'].count()
writing_full = df[df['writing_score'] == 100]['average'].count()
math_full = df[df['math_score'] == 100]['average'].count()

print(f'Number of students with full marks in Maths: {math_full}')
print(f'Number of students with full marks in Writing: {writing_full}')
print(f'Number of students with full marks in Reading: {reading_full}')

Number of students with full marks in Maths: 7
Number of students with full marks in Writing: 14
Number of students with full marks in Reading: 17